<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Recipes</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> - list recipes by categ and type</h1>
    <a href="/users/<%=user._id%>/recipes/new">Add new recipe</a>
    <ul>
        <% recipes.forEach((recipe)=>{ %>
            <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>">
                <li><%= recipe.name %></li>
            </a>
        <% }) %>
    </ul>
</body>
</html>